@use "../utilities/variables" as *;


.pedal-demos {

    padding: $spacing-xl $container-padding;
    

}



.video-grid {

    display: grid;

    grid-template-columns: 1fr;

    gap: $spacing-lg;

    max-width: $max-width;

    margin: 0 auto;

}



.video-card {

    background-color: #111;

    padding: $spacing-md;

    border-radius: 10px;


    h3 {

        color: whitesmoke;

        font-family: $font-primary;

        text-align: center;

        margin-bottom: $spacing-md;

    }


    iframe {

        width: 100%;

        aspect-ratio: 16 / 9;

        border: none;

        border-radius: 8px;

        display: block;

    }

}



//TABLET

@media (min-width: $breakpoint-md) {

    .video-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}



// DESKTOP

@media (min-width: $breakpoint-lg) {

    .video-grid {

        grid-template-columns: repeat(3, 1fr);

    }

}