// COLORS

$color-background: #000;
$color-text: #fff;
$color-header: #000;
$color-footer: #000;


// TYPOGRAPHY

$font-primary: "Roboto", sans-serif;


// BREAKPOINTS

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// LAYOUT

$max-width: 1200px;
$text-max-width: 900px;
$main-image-width: 700px;
$container-padding: 20px;


// SPACING

$spacing-xs: .5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;
$spacing-medium: 2rem;

// IMAGES

$pedal-image-width: 220px;


// EFFECTS

$transition-fast: 0.3s ease;
$hover-scale: 1.08;
