// HEADER

@use "../utilities/variables" as *;


/* ==========================
   HEADER MOBILE FIRST
========================== */

header {

    background-color: $color-header;

    padding: $spacing-sm $container-padding;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;

}



.headerLogo {

    width: 60px;
    height: 60px;

    border-radius: 50%;
    overflow: hidden;


    img {

        width: 100%;
        height: 100%;

        object-fit: cover;
        display: block;

    }

}



.mainNav {

    padding: 0;


    .navbar-toggler {

        border-color: $color-text;


    }


    .navbar-toggler-icon {

        filter: invert(1);

    }


    .nav-link {

        color: $color-text;

        font-family: $font-primary;

        transition: color $transition-fast;


        &:hover {

            color: #c7c7c7;

        }

    }


    .navbar-nav {

        text-align: center;

        gap: $spacing-sm;

    }

}



/* ==========================
   DESKTOP
========================== */

@media (min-width: $breakpoint-md) {


    header {

        padding: $spacing-sm $spacing-lg;

    }


    .headerLogo {

        width: 80px;
        height: 80px;

    }


    .mainNav {

        margin-left: auto;


        .navbar-nav {

            flex-direction: row;

            gap: $spacing-xl;

        }

    }

}